@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #27374D;
    --secondary-color: #526D82;
    --tertiary-color: #9DB2BF;
    --quaternary-color: #DDE6ED;
    --quinary-color: #F5F8FA;
    --white-color: #FFFFFF;
}

html {
    scroll-behavior: smooth;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#root {
    width: 100%;
    height: 100%;
    background-color: var(--quinary-color);
}
